@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     <a href="http://code.msdn.microsoft.com/aspnetmvcsamples/Release/ProjectReleases.aspx?ReleaseId=5114">MVC 3 samples</a> 

     <h4>An Unordered List:</h4>
     <ul>
  <li><a href="http://joeschedule.com/cgi-bin/jmother2.pl?htmlname=adtemp2.htm">Mailbee Advertisement </a></li>

  <li></li>

  <li> <a href="http://joeschedule.com/cgi-bin/jmother2.pl?htmlname=office2.htm"> Joe Office Inventory(2)</a> </li>
  <li> <a href="http://joeschedule.com/cgi-bin/jmother2.pl?htmlname=test2.htm"> Joe Office Inventory(1)</a> </li>

  <li></li>

  <li> <a href="http://joeschedule.com/cgi-bin/jmother2.pl?htmlname=office2.htm"> Joeschedule - Activity Schedules for the iPad, etc </li>
</ul>
</p>
